.navbar {
  display: flex;
  top: 0;
  left: 0;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.navbar--logo {
  display: flex;

  align-items: center;
  float: left;
}

.navbar--logo > img {
  width: 31px;
  height: 26px;
  margin-right: 10px;
}

.navbar--logo > p {
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -0.05em;
}

.navbar--items {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
