section {
  margin: 50px 150px;
  min-height: calc(100vh - 230px);
}
footer {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 65px;
}
