.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 200px;

  /* max-height: 100vh; */
  border-radius: 25px;
  padding: 25px;

  background: url('./Components/img1.svg'), url('./Components/img2.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right top, bottom left;
  background-clip: border-box;
  background-position-x: 108%, -5%;
  background-position-y: -8%, 115%;
  background-color: #f5f5f5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 90%; */
}

.text-container {
  font-family: 'Karla';
  font-style: normal;
  letter-spacing: 0.5em;
  text-align: center;
  font-weight: 900;
}

.text-container > h1 {
  font-size: 46px;
  color: #2b283a;
  text-transform: uppercase;
}

.text-container > p {
  padding: 0 100px;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #4a4e74;
}

.dice-container {
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, auto);
  /* The above is a short-hand of specifing rows/column in one line */
  /* grid-template-columns: repeat(5, auto); */
  /* grid-template-rows: auto auto; */
  gap: 25px;
}

.dice-face {
  width: 100px;
  height: 100px;
  color: #2b283a;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.dice-face-freez {
  background-color: #59e391;
}

.dice-inner {
  /* display: flex; */
  width: 80px;
  height: 80px;
  /* margin: 10px; */
  border: 5px double black;
  border-radius: 5px;
}

.lower-container {
  margin-top: 25px;
  display: grid;
  grid-template: 1fr / 2fr 1fr 2fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 25px;
}
.roll-btn {
  height: 50px;
  width: 200px;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.roll-btn:focus {
  outline: none;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
